@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700&display=swap&subset=cyrillic');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  font-family: 'Oswald', sans-serif;
  font-size: 1.7rem;
  font-weight: 300;
  color: #07535E;
  background-image: url('~@/assets/img/bg.jpg');
}

.content {
  width: 60%;
  margin: 60px auto 0 auto;
}

.block {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(100px);
  transition: 1s ease-in .5s;
}

.block.in-viewport {
  opacity: 1;
  transform: translateY(0);
}

.block__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block__item-header {
  width: 90%;
}

.block__item-desc {
  text-align: center;
}

.vue-typer .custom.char {
  color: #07535E;
}

.block__item-desc-link {
  color: red;
  cursor: pointer;
}

.block__icon {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block__icon-desc {
  margin: 30px 0;
  display: block;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.block__icon-img {
  width: 80%;
}

.block__icon-1 {
  opacity: 0;
  transform: translateX(50px);
  transition: .5s ease-in 1.2s;
}

.block__icon-2 {
  opacity: 0;
  transform: translateX(50px);
  transition: .5s ease-in 1.4s;
}

.block__icon-3 {
  opacity: 0;
  transform: translateX(50px);
  transition: .5s ease-in 1.6s;
}

.block__icon-1.in-viewport {
  opacity: 1;
  transform: translateX(0);
}

.block__icon-2.in-viewport {
  opacity: 1;
  transform: translateX(0);
}

.block__icon-3.in-viewport {
  opacity: 1;
  transform: translateX(0);
}

.block__icon-rev-1 {
  opacity: 0;
  transform: translateX(-50px);
  transition: .5s ease-in 1.2s;
}

.block__icon-rev-2 {
  opacity: 0;
  transform: translateX(-50px);
  transition: .5s ease-in 1.4s;
}

.block__icon-rev-3 {
  opacity: 0;
  transform: translateX(-50px);
  transition: .5s ease-in 1.6s;
}

.block__icon-rev-1.in-viewport {
  opacity: 1;
  transform: translateX(0);
}

.block__icon-rev-2.in-viewport {
  opacity: 1;
  transform: translateX(0);
}

.block__icon-rev-3.in-viewport {
  opacity: 1;
  transform: translateX(0);
}

.block__quote {
  margin: 30px 0;
  display: flex;
  align-items: center;
}

.block__quote-img {
  width: 20%;
  height: 20%;
}

.block__quote-desc {
  margin-left: 50px;
  color: #136D9E;
  font-style: italic;
}

.block__call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block__call-to-action-img {
  width: 80%;
  margin: 100px 0;
  cursor: pointer;
}

span.nowrap{
  white-space: nowrap;
}

.footer {
  width: 100%;
  height: 50vh;
  max-height: 467px;
  background-image: url('~@/assets/img/footer.png');
}

@media (max-width: 1450px) {
  body {
    font-size: 1.3rem;
  }

  .block__icon-desc {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 1rem;
  }

  .content {
    width: 90%;
  }

  .block__item {
    flex-direction: column;
  }

  .block__icon {
    width: 90%;
  }

  .block__icon-desc {
    width: 90%;
    text-align: center;
  }

  .block__icon-img {
    width: 80%;
  }

  .block__quote {
    flex-direction: column;
  }

  .block__quote-img {
    width: 50%;
  }

  .block__quote-desc {
    margin: 0;
  }
}